*{
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: aqua;
}

div ul{
    margin: 0 auto;
    width: 560px;

    display: flex;
    gap: 10px;
    justify-content: center;
}

div ul li{
    padding: 10px;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
}

div ul li:hover{
    background-color: blanchedalmond;
}

